<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- common activities -->
        <activity
            android:name=".common.SelectServiceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".common.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- Basic activities -->
        <activity
            android:name=".basic.GroupChannelMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".basic.openchannel.OpenChannelMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".basic.BasicHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".basic.openchannel.livestream.LiveStreamActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- ai chabot activities -->
        <activity
            android:name=".aichatbot.AIChatBotHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".aichatbot.AiChatBotLoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- notification activities -->
        <activity
            android:name=".notification.NotificationHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"/>
        <activity
            android:name=".notification.NotificationMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".notification.NotificationLoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".notification.FeedChannelListMainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- customization activities -->
        <activity
            android:name=".customization.CustomizationHomeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_push_lollipop" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_main" />
    </application>

</manifest>
