<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sendbird.uikit">

    <!-- Required to maintain app compatibility. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".activities.InviteUserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.MemberListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activities.CreateChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.PhotoViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ModerationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.RegisterOperatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OperatorListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.BannedUserListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.MutedMemberListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ParticipantListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity android:name=".activities.MessageSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".activities.MessageThreadActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ChannelPushSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelModerationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelRegisterOperatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelOperatorListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelMutedParticipantListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelBannedUserListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.CreateOpenChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.FeedNotificationChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".activities.ChatNotificationChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <provider
            android:name=".model.SendbirdUIKitFileProvider"
            android:authorities="${applicationId}.sendbird.uikit.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sb_file_paths" />
        </provider>

    </application>
</manifest>
