<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sendbird.uikit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".activities.InviteChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.MemberListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.CreateChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.PhotoViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ModerationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.PromoteOperatorsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OperatorListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.BannedListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.MutedMemberListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.OpenChannelSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ParticipantsListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity android:name=".activities.MessageSearchActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sb_file_paths" />
        </provider>

    </application>
</manifest>